<%- include ("partials/header.ejs") %>
<div class="container">
  <img src="<%= student.imageURL %>" class="rounded" alt="..." />

  <h3><%= student.name %></h3>
  <h1>Welcome</h1>
</div>
<%- include ("partials/footer.ejs") %>
